<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
		
	</div>

	<div id="content">
		<h1>안녕하세요. 건양대학교 교양평가 서비스입니다.</h1><br>
		<p>느리고 기다리는데 목빠지는 건양대학교 메신저!</p>
		<p>아래분을 보면서 화가나서 만들었습니다.</p>
		<%= image_tag "dufhs.jpeg" %>
		<p>언제까지 오프라인 교양들으러 가실겁니까???</p>
		<p>한국인의 성격에 맞춰 실시간으로 업로드가 됩니다.</p>
		<p><strong>Fucking asshole Konyang Univ. Facebook Messenger</strong></p>
		<p><a href="http://pacific-anchorage-27278.herokuapp.com/" target="_blank">by 건양대학교 멋쟁이사자처럼 4기</a></p>
	</div>
</div>