<div id="page_wrapper">
	<div id="profile_image">
		
	</div>

	<div id="content">
		<h1>전세계 여행지 추천 사이트</h1><br>
		<h3>최고의 여행지를 추천해 드립니다!.</h3>
		<%= image_tag "https://mblogthumb-phinf.pstatic.net/20160806_181/allstar137_1470415324126Vcrrv_PNG/635845887915208016.png?type=w2" %><br><br>
		<p>....................................</p>
		<br>
		
	</div>
</div>